.main_logo_title {
    font-size: 30px;

}

.main_title {
    font-size: 70px;
    font-weight: bold;
    width: 150%;
    margin-top: 10px;
}

.main_content {
    font-size: 24px;
    line-height: 42px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.swiper-pagination {
    position: absolute;
    width: 140px !important;
    bottom: 0px !important;
    top: auto !important;
    background: #424242 !important;
    height: 4px !important;
    left: 30px !important;
    overflow: hidden;
}

.active-index {
    position: absolute;
    bottom: 15px !important;
    left: 0px !important;
    line-height: 14px;
    z-index: 999;
    color: rgba(217, 186, 108, 1);
}

.total-index {
    position: absolute;
    bottom: 15px !important;
    left: 222px !important;
    line-height: 14px;
    z-index: 999;
    color: rgba(217, 186, 108, 1);
}

.btn-footers {
    position: absolute;
    right: 20px !important;
    bottom: 0px !important;
    z-index: 9999;
}

.btn-footers img {
    width: 14px !important;
    cursor: pointer;
}

.mainPage {
    position: relative;
    margin: 0 105px 105px 105px;
    padding: 0 20px 20px;
    overflow: hidden !important;
}

.imgR {
    margin-left: 90px;
}

@media screen and (max-width: 1366px) {
    .main_logo_title {
        font-size: 18px;
    }

    .main_title {
        font-size: 40px;
        font-weight: bold;
        width: 150%;
        margin-top: 5px;
    }

    .main_content {
        font-size: 14px;
        line-height: 24px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .main_logo_title {
        font-size: 14px;
    }

    .main_title {
        font-size: 30px;
        font-weight: bold;
        width: 150%;
    }

    .main_content {
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mainPage {
        margin: 60px 0px 10px 0px !important;
    }

    .main_logo_title {
        font-size: 18px;
        margin-top: 10px;
    }

    .main_title {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        margin-top: 10px;
    }

    .main_content {
        font-size: 14px;
        line-height: 28px;
        margin-top: 20px;
        margin-bottom: 0 !important;
    }

    .main-pic {
        width: 100% !important;
    }

    .el-header-top {
        height: 60px !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 99999999;
    }

    .el-main {
        padding: 0px 0px 20px !important;
    }

    .active-index {
        font-size: 12px;
        left: 15px !important;
    }

    .total-index {
        font-size: 12px;
        left: 200px !important;
    }

    .btn-footers {
        bottom: 7px !important;
    }

    .btn-footers img {
        width: 12px !important;
    }

    .imgR {
        margin-left: 40px !important;
    }

    .main-txt {
        padding: 0 30px;
        width: auto !important;
    }

    .btn_main_left {
        position: absolute;
        top: 83px;
        left: 10px;
        z-index: 9;
        width: 30px;
    }

    .btn_main_right {
        position: absolute;
        top: 83px;
        right: 10px;
        z-index: 9;
        width: 30px;
    }
}