.main_logo_title {
    font-size: 30px;

}

.el-header-top {
    height: 105px !important;

}

.main_title {
    font-size: 60px;
    font-weight: bold;
    width: 250%;
    margin-top: 10px;
    word-break: keep-all;

}

.main_content {
    font-size: 24px;
    line-height: 42px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.swiper-pagination {
    position: absolute;
    width: 140px !important;
    bottom: 0px !important;
    top: auto !important;
    background: #424242 !important;
    height: 4px !important;
    left: 52px !important;
    overflow: hidden;
}

.active-index {
    position: absolute;
    bottom: 15px !important;
    left: 36px !important;
    line-height: 14px;
    z-index: 999;
    color: rgba(217, 186, 108, 1);
}

.total-index {
    position: absolute;
    bottom: 15px !important;
    left: 233px !important;
    line-height: 14px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.3);
}

.btn-footers {
    position: absolute;
    right: 36px !important;
    bottom: 0px !important;
    z-index: 9999;
}

.btn-footers img {
    width: 14px !important;
    cursor: pointer;
}

.mainPage {
    position: relative;
    height: 100%;
    margin: 0 105px 105px 105px;
    padding: 0 20px 20px;
    overflow: hidden !important;
}

.imgR {
    margin-left: 90px;
}



@media screen and (max-width: 1366px) {
    .main_logo_title {
        font-size: 18px;
    }

    .main_title {
        font-size: 40px;
        font-weight: bold;
        margin-top: 5px;
    }

    .main_content {
        font-size: 14px;
        line-height: 24px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .main_logo_title {
        font-size: 14px;
    }

    .main_title {
        font-size: 30px;
        font-weight: bold;
    }

    .main_content {
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .mainPage {
        margin: 60px 0px 0px 0px !important;
        height: calc(100vh - 60px);
    }

    .main_logo_title {
        font-size: 18px;
        margin-top: 10px;
    }

    .main_title {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        margin-top: 10px;
    }

    .main_content {
        font-size: 12px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 0 !important;
    }

    .main-pic {
        position: absolute;
        width: 100% !important;
        top: 0px;
        left: 0;
    }

    .el-header-top {
        height: 60px !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 99999999;
    }

    .el-main {
        padding: 0px 0px 0px !important;
    }

    .active-index {
        font-size: 12px;
        left: 15px !important;
    }

    .total-index {
        font-size: 12px;
        left: 200px !important;
    }

    .btn-footers {
        bottom: 7px !important;
    }

    .btn-footers img {
        width: 12px !important;
    }

    .imgR {
        margin-left: 40px !important;
    }

    .main-txt {
        height: 200px;
        padding: 0 20px;
        width: calc(100vw - 40px) !important;
    }

    .btn_main_left {
        position: absolute;
        top: calc(50vh - 140px);
        left: 5px;
        z-index: 9;
        width: 20px;
    }

    .btn_main_right {
        position: absolute;
        top: calc(50vh - 140px);
        right: 5px;
        z-index: 9;
        width: 20px;
    }

    .main_banner_img {
        height: calc(100vh - 260px);
        overflow: hidden;
        position: relative;
    }
}